*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.text-white{
    color: white !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav  li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
} 


 

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav
{
    display: block;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
font-size: 10px;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav li:hover a
{
    color: #000;
    background-color: #ccc;
}

.search-btn{
    float: right;
    padding: 0 21px;
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
   
}


#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/la.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    color: white;
    text-align: center;
    position: absolute; 
    bottom: 0;
    padding: 48px;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading{
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-description{
    padding-top: 25px;
    font-size: 15px;
}



#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic ;
    opacity: 0.55;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}


#content .member-list {
    margin-top: 48px;
    /* overflow: hidden; */
}

#content .member-item {
    float: left;
    width: 33.3333333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: white;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity {
    float: right;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list {
     margin-top: 32px;
    margin-bottom: 48px;
    
}

.place-item {
     /* float: left; */
     width: 33.3333333%;
     /* padding: 0 8px; */
}

.place-body {
     background-color: #fff;
     padding: 16px;
     font-size: 15px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}
.place-heading {
     font-size: 15px;
     font-weight: 600px;;
}

.place-time {
     margin-top: 15px;
     color: #757575;
}

.place-desc {
     margin-top: 15px;
     line-height: 1.4;
}

.place-buy-btn {
     color: #fff;
     background-color: #000;
     text-decoration: none;
     padding: 11px 16px;
     display: inline-block;
     margin-top: 25px;
     border: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}



#footer {

}




.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;

}

.modal-input {
    border : 1px solid #ccc ;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
}

.modal {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.7;

}
.modal-close:hover {
    opacity: 1;
}



.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-50px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.7s ;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px;
}
#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;

}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}


.modal-footer  {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #009688;
}

.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    border: none;

}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}   

#footer {
    padding: 64px 16px;
    text-align: center;
    font-size: 24px;
   
}

.socials-list {
    padding: 10px;
}


.socials-list a {
    text-decoration: none;
    color: #000;
}


#footer .link-to-w3 {
    text-decoration: none;

}